---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Dr. Aravindh Nivas Marimuthu, PhD, MRSC - CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>
  <div class="mb-10 text-justify">
    Internationally recognized Postdoctoral Associate at MIT, specializing in physical chemistry, spectroscopy, and pioneering machine learning applications. Over 100 citations in 5 years, KVPY fellow
    (top &lt;3% nationwide), and author of major contributions in leading journals (e.g., Nature Astronomy). Expertise in spectroscopy, quantum chemical modeling, cheminformatics, and scientific
    software. Invited speaker at 10+ international conferences, judge for ISMS Rao Prize, and reviewer for top journals. Member of the Royal Society of Chemistry (MRSC). Collaborates with leading
    research groups worldwide.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="PhD in Physical Chemistry" subtitle="Aug 2018 - Sep 2023 at Radboud University, Nijmegen, Netherlands">
      FELIX (Free Electron Lasers for Infrared eXperiments) international facility<br />
      Supervisors: Prof. Dr. Britta Redlich, Dr. Sandra Brünken
    </TimeLineElement>
    <TimeLineElement title="B.Sc. (Research) + M.Sc. (Integrated) in Chemistry | KVPY Fellow" subtitle="Aug 2013 - Jun 2018 at Indian Institute of Science (IISc), Bengaluru, India">
      Supervisor: Prof. Dr. Elangannan Arunan
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="Postdoctoral Associate, MIT, Cambridge, MA, USA" subtitle="Oct 2023 – Present | Prof. Brett A. McGuire Group, Department of Chemistry">
      Building general-purpose Machine Learning desktop applications for Chemistry (ChemXploreML).<br />
      Building a full-stack database for Microwave Spectroscopy (SAAGADB).
    </TimeLineElement>
    <TimeLineElement title="PhD Researcher, Radboud University, Netherlands" subtitle="Aug 2018 – Sep 2023">
      Authored/co-authored 12+ peer-reviewed publications in leading journals (e.g., Nature Astronomy, JCP).<br />
      Developed expertise in advanced experimental techniques (cryogenic ion trap action spectroscopy) and theoretical methods (quantum chemical calculations, chemical kinetics modeling).<br />
      7+ years of software development experience (Python, TypeScript, NodeJS), leading to impactful scientific software tools (e.g., FELionGUI).
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Judge & Reviewer Experience</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Judge, Celebrating Women’s Careers in Chemistry, Boston, USA, Mar 2025</li>
    <li>Judge, ISMS Rao Prize, International Symposium on Molecular Spectroscopy, Chicago, USA, Jun 2024 & Jun 2025</li>
    <li>Peer Reviewer for journals: The Astrophysical Journal, Journal of Chemical Information and Modeling</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Memberships</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Member, Royal Society of Chemistry (MRSC), #790610</li>
    <li>Member, American Chemical Society (ACS), #34277770</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards & Honors</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>PhD Completion with High Impact Publications (2018-2023)</li>
    <li>Integrated B.Sc. (Research) + M.Sc. in Chemistry - First Class (2013-2018)</li>
    <li>Kishore Vaigyanik Protsahan Yojana (KVPY) Fellowship (2013-2018, top &lt;3%)</li>
    <li>Top National Rank, IIT-Mains Entrance Examination (2013, 26th State Rank)</li>
    <li>Top National Rank, NEET Entrance Examination (2013, 136th State Rank, 93.4 percentile)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>Action spectroscopy (cryogenic ion trap)</li>
    <li>Astrochemistry & Interstellar Chemistry</li>
    <li>Chemical kinetics & modeling</li>
    <li>Quantum chemical computations (Gaussian, PSI4)</li>
    <li>Infrared & Rotational Spectroscopy</li>
    <li>Spectroscopy data analysis</li>
    <li>Scientific Communication</li>
    <li>Teaching & Mentorship</li>
    <li>Python, JavaScript, TypeScript, NodeJS, Rust, C, C++</li>
    <li>Scripting & Automation</li>
    <li>Full-stack web development</li>
    <li>Database & API Development (PostgreSQL, Django)</li>
    <li>Scikit-learn, PyTorch, TensorFlow</li>
    <li>Git, GitHub Actions & CI/CD</li>
    <li>Docker, NGINX, Linux/UNIX Tools</li>
    <li>Cloud Computation</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <b>ChemXploreML</b> (2023-2025): <a href="https://aravindhnivas.github.io/ChemXploreML-docs" target="_blank">Docs</a>, <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.5c00516" target="_blank"
        >Published Paper</a
      ><br />
      Developed a novel, high-performance, general-purpose desktop application for chemists to apply machine learning techniques. Features: chemical embeddings, ML algorithms, job scheduling, etc.
    </li>
    <li>
      <b>SAAGADB</b> (2023-2025): <a href="http://herzberg.mit.edu" target="_blank">Internal</a><br />
      Open-source database and API for microwave spectroscopy data. Used by McGuire group at MIT.
    </li>
    <li>
      <b>FELionGUI</b> (2019-2023): <a href="https://felion-docs.vercel.app" target="_blank">Docs</a><br />
      GUI for spectroscopic data analysis, integrated at FELIX facility, Radboud University.
    </li>
    <li>
      <b>Astro-Web</b> (2023): <a href="https://astrochemistry.streamlit.app" target="_blank">App</a><br />
      Unified web interface for astrochemistry resources (Astromol, UCLCHEM, etc.).
    </li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Recommendation Letters</div>
  </div> -->
  <!-- <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Dr. Brett A. McGuire (MIT): brettmc@mit.edu</li>
    <li>Dr. Sandra Brünken (Radboud Univ.): sandra.bruenken@ru.nl</li>
    <li>Prof. Dr. Britta Redlich (DESY): britta.redlich@desy.de</li>
    <li>Prof. Dr. Stephan Schlemmer (Cologne): schlemmer@ph1.uni-koeln.de</li>
    <li>Prof. Dr. Roland Wester (Innsbruck): roland.wester@uibk.ac.at</li>
    <li>Prof. Dr. E. Arunan (IISc): arunan@iisc.ac.in</li>
    <li>Dr. Vijayanand C. (VIT): vijayanand.c@vit.ac.in</li>
    <li>Dr. Pavol Jusko (Max Planck): pjusko@mpe.mpg.de</li>
    <li>Dr. Gabi Wenzel (MIT): gwenzel@mit.edu</li>
  </ul> -->
</BaseLayout>
